.main {
  align-items: center;
  background-color: #f2fffd;
  min-height: 100vh;
  padding: 30px;
}

.questionText {
  font-size: 24px;
  font-weight: normal;
}

.answerText {
  font-size: 18px;
  font-weight: normal;
}

.optionItem {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.incorrectOptionItem {
  background-color: #ff8080;
  border: 2px solid #5c1c1c;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  cursor: not-allowed;
}

.selectedOptionItem {
  background-color: #a8c9c2;
  border: 1px solid #72938a;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  cursor: not-allowed;
}

.selectedOptionItem:hover {
  background-color: #72938a;
}

.correctOptionItem {
  background-color: #f2fffd;
  border: 1px solid #6bbea2;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  cursor: not-allowed;
}

.selectedOptionItem {
  color: #2c664f;
}

.correctOptionItem {
  color: #6bbea2;
}

.incorrectOptionItem {
  color: #5c1c1c;
}

.optionContainer {
  width: 300px;
  margin: 30px auto;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
  border: 2px solid #2c664f;
  color: #12462b;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #12462b;
  color: #fff;
  border-color: #fff;
}

.buttonContainer {
  margin: 30px auto;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .buttonContainer {
    display: flex;
  }

  .button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid #2c664f;
    color: #12462b;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
